@import url('../css/global.css');

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
}

.reset-password-container {
    width: 600px;
    height: 500px;
    border: 1px solid var(--border-light);
    border-radius: .3rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
}


.dark-mode {
    background: #0d0d0d;
}

.dark-mode .reset-password-container {
    background: #1E1E1E;
    border: none;
}

.reset-password-container .left-side-container {
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.dark-mode .left-side-container {
    background: #000;
}

.reset-password-container .left-side-container > div {
    text-align: center;
}

.reset-password-container .left-side-container .logo-login {
    height: 15rem;
}

.reset-password-container .left-side-container .title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: var(--f-s-2);
    margin-top: 1rem;
}

#reset-password-administrador {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-password-administrador .title-form-password {
    font-size: var(--f-s-3);
    color: #a7a7a7;
    padding-bottom: 20px;
}

#reset-password-administrador p {
    font-size: var(--f-s-1);
    color: var(--color-dark);
}

.dark-mode #reset-password-administrador p {
    color: #8b8b8b;
}

#reset-password-administrador .input-group {
    margin-top: 2rem;
}

#reset-password-administrador .input-block {
    margin-top: 1.5rem;
}

#reset-password-administrador .input-block label {
    font-weight: var(--f-500);
    color: var(--color-dark);
}

.dark-mode #reset-password-administrador .input-block label {
    color: #747474;
}

#reset-password-administrador .input-block .input-container {
    border: 1px solid var(--border-light);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-top: .2rem;
    border-radius: .1rem;
}

.dark-mode .input-container {
    background: #0d0d0d;
}

#reset-password-administrador .input-container .icon {
    padding: 0 .5rem;
    border-right: 1px solid var(--border-light);
    display: flex;
    align-items: center;
}

#reset-password-administrador svg {
    color: #a7a7a7;
    height: 1.4rem;
}


#reset-password-administrador #button-ver-senha {
    margin-right: 1rem;
    cursor: pointer;
    color: #a7a7a7;
}

#reset-password-administrador .input-container input {
    padding: 0 1rem;
    flex: 1;
    font-size: var(--f-s-1);
    background: none;
    color: var(--color-dark);
}

#reset-password-administrador #button-esqueceu-senha {
    font-size: .8rem;
    margin-top: .5rem;
    color: #797979;
    float: right;
    cursor: pointer;
    transition: .3s ease;
}

#reset-password-administrador #button-esqueceu-senha:hover {
    transition: .3s ease-in;
    color: #494949;
    text-decoration: underline;
}

#reset-password-administrador #button-submit-reset-password {
    width: 100%;
    padding: .7rem 1rem;
    border-radius: .3rem;
    background: var(--color-primary);
    color: #ffffff;
    margin-top: 5rem;
    transition: .4s ease-in;
    font-weight: var(--f-600);
}

#reset-password-administrador #button-submit-reset-password:hover {
    transition: .3s ease-out;
    cursor: pointer;
    opacity: .8;

}

.button-dark-mode {
    height: 3rem;
    width: 3rem;
    border-radius: var(--border-r-50);
    border: 1px solid var(--border-light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: .3s;
    cursor: pointer;
}

.button-dark-mode:hover {
    border-color: #707070;
    color: #707070;
}

@media screen and (max-width: 990px) {
    body {
        display: block;
        padding-top: 5rem;
    }

    .reset-password-container {
        width: max-content;
        display: block;
        padding: 3rem;
        background: none !important;
        border: 0;
    }

    .reset-password-container .left-side-container {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    
    .reset-password-container {
        width: 98vw;
    }
}